/* Estilos gerais do header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* Estiliza a logo */
.logo {
  height: 80px; /* Ajuste ideal para tamanho pequeno */
  width: auto;
  border-radius: 8px; /* Deixa a logo com bordas arredondadas */
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1); /* Efeito de leve aumento ao passar o mouse */
}
/* Ajuste do nome ao lado da logo */
.navbar-brand {
  font-size: 1.4rem;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
}
