/* Container para botões de ação */
.d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Reduz o espaçamento entre os botões */
}

/* Exemplo style_inventory.css ou global */
.action-button.neutral {
  background-color: #6c757d; /* cinza Bootstrap */
  color: #fff;
}

.table.rounded-table {
  overflow: visible !important;
}
