<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Adicionar Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_add_small.css') }}" />
  </head>
  <body>
    <div class="form-container">
      <h1>Inserir Novo Dsiponível</h1>
      <!-- Link "Sair sem Finalizar" -->
      <a href="{{ next }}" class="cancel-link">Sair sem Finalizar</a>
      <form method="POST" enctype="multipart/form-data">
        <!-- Campo oculto para preservar a página de origem -->
        <input type="hidden" name="next" value="{{ next }}" />

        <input type="hidden" name="status" value="available" />

        <label>Descrição:</label>
        <br />
        <input type="text" name="description" required />
        <br />
        <br />

        <label for="valor">Valor (R$):</label>
        <input type="number" id="valor" name="valor" step="0.01" min="0" required />
        <br />
        <br />

        <label>Comentários:</label>
        <br />
        <textarea name="comments" rows="3" cols="30"></textarea>
        <br />
        <br />

        <label>Foto:</label>
        <br />
        <input type="file" name="image_file" accept="image/*;capture=camera" />
        <br />
        <br />

        <button type="submit">Inserir</button>
      </form>
    </div>

    <script>
      // Função para tornar os checkboxes mutuamente exclusivos
      function toggleCheckbox(activeId, inactiveId) {
        const activeCheckbox = document.getElementById(activeId);
        const inactiveCheckbox = document.getElementById(inactiveId);

        if (activeCheckbox.checked) {
          inactiveCheckbox.checked = false;
        }
      }
    </script>
  </body>
</html>
