<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_edit_small.css') }}" />
  </head>
  <body>
    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
      <div class="alert alert-{% if category == 'error' %}danger{% else %}{{ category }}{% endif %} alert-dismissible fade show" role="alert">
        {{ message|safe}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <div class="form-container">
      <h1>Editar Vestido</h1>
      <a href="{{ request.args.get('next', url_for('index')) }}" class="cancel-link">Sair sem Finalizar</a>

      <form method="POST" enctype="multipart/form-data">
        <textarea id="description" name="description" rows="3" required>{{item.description}}</textarea>

        <label for="valor">Valor (R$):</label>
        <input type="number" id="valor" name="valor" step="0.01" min="0" value="{{ item.valor }}" required />

        <label for="comments">Comentários:</label>
        <textarea id="comments" name="comments" rows="3" value="{{item.comments}}">{{item.comments}}</textarea>

        <label>Foto Atual:</label>
        {% if item.image_url and item.image_url != "" %}
        <img src="{{ item.image_url }}" alt="Imagem do vestido" />
        {% else %}
        <img src="{{ url_for('static', filename='item-placeholder.png') }}" alt="Sem Imagem" />
        {% endif %}

        <label for="image_file">Trocar a Foto:</label>
        <input type="file" id="image_file" name="image_file" accept="image/*;capture=camera" />

        <button type="submit">Salvar</button>
      </form>
    </div>
  </body>
</html>
