<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_edit.css') }}" />
  </head>
  <body>
    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="flash {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div class="form-container">
      <h1>Editar Vestido</h1>
      <a href="{{ url_for('index') }}" class="cancel-link">Sair sem Finalizar</a>
      <form method="POST" enctype="multipart/form-data">
        <label for="client_name">Nome do Cliente:</label>
        <input type="text" id="client_name" name="client_name" value="{{ dress.client_name }}" required />

        <label for="client_tel">Telefone do Cliente:</label>
        <input type="text" id="client_tel" name="client_tel" value="{{ dress.client_tel }}" required />

        <label for="rental_date">Data de Retirada:</label>
        <input type="date" id="rental_date" name="rental_date" value="{{ dress.rental_date }}" required />

        <div class="form-group">
          <label for="retirado">
            <input type="checkbox" id="retirado" name="retirado" value="True" {% if dress.retirado %}checked{% endif %} />
            Retirado
          </label>
        </div>

        <label for="return_date">Data de Devolução:</label>
        <input type="date" id="return_date" name="return_date" value="{{ dress.return_date }}" required />

        <label for="comments">Comentários:</label>
        <textarea id="comments" name="comments" rows="3">{{ dress.comments }}</textarea>

        <label>Foto Atual:</label>
        {% if dress.image_url and dress.image_url != "" %}
        <img src="{{ dress.image_url }}" alt="Imagem do vestido" />
        {% else %}
        <img src="{{ url_for('static', filename='dress-placeholder.png') }}" alt="Sem Imagem" />
        {% endif %}

        <label for="image_file">Trocar a Foto:</label>
        <input type="file" id="image_file" name="image_file" accept="image/*;capture=camera" />

        <button type="submit">Salvar</button>
      </form>
    </div>
  </body>
</html>
