<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_edit.css') }}" />
  </head>
  <body>


    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="flash {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div class="form-container">
      <h1>Editar Vestido</h1>
      <a href="{{ request.args.get('next', url_for('index')) }}" class="cancel-link">Sair sem Finalizar</a>


      <form method="POST" enctype="multipart/form-data">
<!-- Radio Buttons para status -->
<div class="form-group">
  <label for="status-rented">
    <input
      type="radio"
      id="status-rented"
      name="status"
      value="rented"
      {% if dress.status == "rented" %} checked {% endif %}
    />
    Alugado
  </label>
  <label for="status-returned">
    <input
      type="radio"
      id="status-returned"
      name="status"
      value="returned"
      {% if dress.status == "returned" %} checked {% endif %}
    />
    Devolvido
  </label>
</div>





        <label for="description">Descrição:</label>
        <textarea  id="description" name="description" rows="3" value="{{dress.description}}" required>{{dress.description}}</textarea>


        <label for="client_name">Nome do Cliente:</label>
        <input type="text" id="client_name" name="client_name" value="{{ dress.client_name }}" required />

        <label for="client_tel">Telefone do Cliente:</label>
        <input type="text" id="client_tel" name="client_tel" value="{{ dress.client_tel }}" required />

        <label for="rental_date">Data de Retirada:</label>
        <input type="date" id="rental_date" name="rental_date" value="{{ dress.rental_date }}" required />

        <div class="form-group">
          <label for="retirado">
            <input type="checkbox" id="retirado" name="retirado" value="True" {% if dress.retirado %}checked{% endif %} />
            Retirado
          </label>
        </div>

        <label for="return_date">Data de Devolução:</label>
        <input type="date" id="return_date" name="return_date" value="{{ dress.return_date }}" required />

        <label for="valor">Valor (R$):</label>
        <input type="number" id="valor" name="valor" step="0.01" min="0" value="{{ dress.valor }}" required/>

        <label for="pagamento">Pagamento:</label>
<select id="pagamento" name="pagamento">
    <option value="Não pago" {% if dress.pagamento == "Não pago" or not dress.pagamento %}selected{% endif %}>Não pago</option>
    <option value="Pago 50%" {% if dress.pagamento == "Pago 50%" %}selected{% endif %}>Pago 50%</option>
    <option value="Pago 100%" {% if dress.pagamento == "Pago 100%" %}selected{% endif %}>Pago 100%</option>
</select>

<label for="comments">Comentários:</label>
<textarea id="comments" name="comments" rows="3" value="{{dress.comments}}">{{dress.comments}}</textarea>


{% if "returned" in request.url %}
  <label for="dev_date">Devolvido em:</label>
  <input type="date" id="dev_date" name="dev_date" value="{{ dress.dev_date }}" required />
{% endif %}



        <label>Foto Atual:</label>
        {% if dress.image_url and dress.image_url != "" %}
        <img src="{{ dress.image_url }}" alt="Imagem do vestido" />
        {% else %}
        <img src="{{ url_for('static', filename='dress-placeholder.png') }}" alt="Sem Imagem" />
        {% endif %}

        <label for="image_file">Trocar a Foto:</label>
        <input type="file" id="image_file" name="image_file" accept="image/*;capture=camera" />

        <button type="submit">Salvar</button>
      </form>
    </div>






  </body>
</html>
