{% extends "base.html" %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_contact.css') }}" />
{% endblock %}{% block content %}

<div class="container text-center mt-5">
  <h1 class="mb-4">Planos e Preços</h1>

  <div class="card shadow-sm mx-auto p-4" style="max-width: 600px">
    <h2 class="price-highlight">Plano Teste</h2>
    <h2 class="price-highlight">R$ 0</h2>

    <ul class="list-unstyled mb-4">
      <li>✔️ Todas as funcionalidades por 30 dias</li>
    </ul>
    <p class="text-muted">
      *Após o período de Teste, o usuário não poderá mais iniciar transações, mas poderá continuar usando as demais funcionalidades.
    </p>

    <hr />
    <h2 class="price-highlight">Business</h2>

    <h2 class="price-highlight">R$ 49,90/mês</h2>
    <ul class="list-unstyled mb-4">
      <li>✔️ 300 transações ativas</li>
      <li>✔️ 300 itens cadastrados</li>
    </ul>

    <hr />
    <p class="text-muted">* transações ativas são aquelas com status "reservado" e "retirado".</p>
  </div>
</div>
{% endblock %}
