{% extends "base.html" %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_contact.css') }}" />
{% endblock %}{% block content %}

<div class="text-center mt-4">
  <a href="{{ url_for('index') }}" class="btn-aqua">← Voltar para a Home</a>
</div>
<div class="container text-center mt-5">
  <h1 class="mb-4">Planos e Preços</h1>

  <div class="card shadow-sm mx-auto p-4" style="max-width: 600px">
    <h2 class="price-highlight">Grátis</h2>

    <ul class="list-unstyled mb-4">
      <li>✔️ Até 30 transações ativas</li>
      <li>✔️ Até 50 itens cadastrados</li>
    </ul>
    <li>Pode aparecer publicidade</li>

    <hr />

    <h2 class="price-highlight">R$ 49,90/mês</h2>
    <p class="mb-4">Para até 300 transações ativas e 300 itens cadastrados.</p>
    <li>Sem publicidade</li>
    <li>Suporte prioritário</li>

    <hr />
    <p class="text-muted">* transaçoes ativas são aquelas com status "reservado"e "retirado".</p>

    <p class="text-muted">Para outras necessidades, entre em contato e solicite um plano personalizado.</p>
  </div>
</div>
{% endblock %}
