<!-- Importando a folha de estilo do rodapé -->
<link rel="stylesheet" href="{{ url_for('static', filename='style_footer.css') }}" />
<footer class="footer">
  <div class="container text-center">
    <p>
      <a href="/terms">Termos de Uso</a>
      |
      <a href="/contato">Contato</a>
      |
      <a href="/fees">Planos</a>
      |
      <a href="/how_to">Como usar</a>
    </p>
    <p class="testing-notice">
      <a href="/reportar-bug?url={{ request.url }}">reportar um bug</a>
    </p>
  </div>
</footer>
