<link rel="stylesheet" href="{{ url_for('static', filename='style_header.css') }}" />

<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='icons/logo.png') }}" alt="Logo" class="logo" />

        <span class="ms-2 d-flex flex-column" style="line-height: 0.9">
          <span style="font-weight: bold">Alugue QQC</span>
          <small style="font-size: 12px; color: #c5bebe">gestor de aluguéis</small>
        </span>
      </a>

      <!-- Botão hamburguer para telas pequenas -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu principal -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <!-- Dropdown Menu Transações -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Transações
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
              <li>
                <a class="dropdown-item {% if request.endpoint == 'all_transactions' %}active{% endif %}" href="{{ url_for('all_transactions') }}">
                  Todos
                </a>
              </li>

              <li>
                <a class="dropdown-item {% if request.endpoint == 'reserved' %}active{% endif %}" href="{{ url_for('reserved') }}">Reservados</a>
              </li>
              <li>
                <a class="dropdown-item {% if request.endpoint == 'rented' %}active{% endif %}" href="{{ url_for('rented') }}">Retirados</a>
              </li>
              <li>
                <a class="dropdown-item {% if request.endpoint == 'returned' %}active{% endif %}" href="{{ url_for('returned') }}">Devolvidos</a>
              </li>
            </ul>
          </li>

          <!-- Dropdown End -->

          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'inventory' %}active{% endif %}" href="{{ url_for('inventory') }}">Inventário</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'listar_clientes' %}active{% endif %}" href="{{ url_for('listar_clientes') }}">Clientes</a>
          </li>

          <!-- Dropdown Menu general -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mais</a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
              <li>
                <a class="dropdown-item {% if request.endpoint == 'reports' %}active{% endif %}" href="{{ url_for('reports') }}">
                  Estatisticas da conta
                </a>
              </li>

              <li>
                <a class="dropdown-item {% if request.endpoint == 'archive' %}active{% endif %}" href="{{ url_for('archive') }}">Itens Arquivados</a>
              </li>

              <li>
                <a class="dropdown-item {% if request.endpoint == 'adjustments' %}active{% endif %}" href="{{ url_for('adjustments') }}">
                  Ajustes e Planos
                </a>
              </li>

              <li>
                <a class="dropdown-item {% if request.endpoint == 'listar_modelos' %}active{% endif %}" href="{{ url_for('listar_modelos') }}">
                  Contratos e recibos
                </a>
              </li>
              <!--
              <li>
                <a class="dropdown-item {% if request.endpoint == 'trash_itens' %}active{% endif %}" href="{{ url_for('trash_itens') }}">
                  Lixeira de itens
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item {% if request.endpoint == 'trash_transactions' %}active{% endif %}"
                  href="{{ url_for('trash_transactions') }}"
                >
                  Lixeira de transações
                </a>
              </li>
-->
              {% if session.get('logged_in') %} {% if session.get('role') == 'general_admin' %}
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item text-success" href="{{ url_for('admin_dashboard') }}">Painel de Administração</a></li>
              {% endif %}
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Sair</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
