<div style="text-align: center">
  <!-- Ajuste do tamanho do QR Code -->
  <img src="{{ qr_data_url }}" alt="QR Code" style="max-width: 100%; max-height: 100px" />

  <hr />

  {% if 'imagem' in incluir %} {% if item.image_url and item.image_url != "N/A" %}
  <!-- Ajuste do tamanho da imagem do item -->
  <img src="{{ item.image_url }}" alt="Imagem do item" style="max-width: 100px; max-height: 100px" />
  <br />
  {% else %}
  <img src="{{ url_for('static', filename='item-placeholder.png') }}" alt="Imagem do item" style="max-width: 100px; max-height: 100px" />
  <br />
  {% endif %} {% endif %} {% if 'descricao' in incluir %}
  <strong>Descrição:</strong>
  {{ item.description }}
  <br />
  {% endif %} {% if 'custom_id' in incluir %}
  <strong>ID:</strong>
  {{ item.item_custom_id }}
  <br />
  {% endif %} {% if 'obs' in incluir %}
  <strong>Observações:</strong>
  {{ item.item_obs }}
  <br />
  {% endif %}

  <hr />
</div>
