<!-- NAVBAR -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">London Noivas</a>
    <!-- Botão hamburger para telas pequenas -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Itens do menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <!-- Links simples -->
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'returned' %}active{% endif %}" href="{{ url_for('returned') }}">Ver Devolvidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'available' %}active{% endif %}" href="{{ url_for('available') }}">Ver Disponíveis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Ver Alugados</a>
        </li>

        <!-- Dropdown para Financeiro, Logout, arquivo, histórico -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item {% if request.endpoint == 'reports' %}active{% endif %}" href="{{ url_for('reports') }}">Financeiro</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item {% if request.endpoint == 'archive' %}active{% endif %}" href="{{ url_for('archive') }}">Arquivo</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a class="dropdown-item {% if request.endpoint == 'history' %}active{% endif %}" href="{{ url_for('history') }}">Histórico</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li>
              <a class="dropdown-item text-danger" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- FIM NAVBAR -->
