<!-- not_logged_header.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='style_not_logged_header.css') }}" />

<header class="header">
  <nav class="navbar navbar-expand-lg" style="background-color: #003366">
    <div class="container d-flex align-items-center justify-content-center py-2">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='icons/logo.png') }}" alt="Logo" class="logo me-2" />
        <span style="color: white">London</span>
        <span style="color: #ffc107" class="no-space">Noivas</span>
      </a>

      <!-- Botões removidos da página inicial -->
      {% if request.endpoint != 'index' %}
          {% if request.endpoint != 'login'%}
          <div class="position-absolute end-0 me-3">
             <a class="btn-header-login-outline" href="{{ url_for('login') }}">Login</a>
          </div>
          {% endif %}
      {% endif %}
    </div>
  </nav>
</header>
