<!-- not_logged_header.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='style_not_logged_header.css') }}" />

<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #003366">
    <div class="container d-flex align-items-center justify-content-between py-2">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='icons/logo.png') }}" alt="Logo" class="logo" />
        <span class="ms-2 d-flex flex-column" style="line-height: 0.9">
          <span style="font-weight: bold; color: white">Alugue QQC</span>
          <small style="font-size: 12px; color: #c5bebe">gestor de aluguéis</small>
        </span>
      </a>

      <!-- Botão hamburguer para mobile -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Login e Cadastro -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav d-flex align-items-center gap-2">
          <li class="nav-item">
            {% if request.endpoint == 'login' or request.endpoint == 'index' %}
            <a class="btn btn-login-style" href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a class="nav-link text-white" href="{{ url_for('login') }}">Login</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if request.endpoint == 'register' or request.endpoint == 'index' %}
            <a class="btn btn-register-style" href="{{ url_for('register') }}">Cadastrar</a>
            {% else %}
            <a class="nav-link text-white" href="{{ url_for('register') }}">Cadastrar</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
