<!-- not_logged_header.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='style_not_logged_header.css') }}" />

<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #003366">
    <div class="container d-flex align-items-center justify-content-between py-2">
      <!-- Logo -->
      <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='icons/logo.png') }}" alt="Logo" class="logo" />
        <span class="ms-2 d-flex flex-column" style="line-height: 0.9">
          <span style="font-weight: bold; color: white">Alugue</span>
          <span style="font-weight: bold; color: white">QQC</span>
        </span>
      </a>

      <!-- Botão Login (direto, sem menu) -->
      {% if request.endpoint == 'index' %}
      <a class="btn-header-login" href="{{ url_for('login') }}">Login</a>
      {% elif request.endpoint == 'login'%}
      <a class="btn-index-register" href="{{ url_for('register') }}">Cadastro</a>
      {% else %}
      <a class="btn-header-login-outline" href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </div>
  </nav>
</header>
