{% extends "base.html" %} {% block title %}Obrigado!{% endblock %} {% block content %}

<!-- Conteúdo da página -->
<div class="container success-page-wrapper">
  <div class="success-page">
    <h1>Obrigado pela assinatura!</h1>
    <p>Aproveite os benefícios do plano Business...</p>
  </div>
</div>

{% endblock %} {% block scripts %}

<!-- Script opcional para atualizar plano na sessão -->
<script>
  fetch('/refresh_plan').then((response) => {
    if (response.ok) {
      console.log('Plano atualizado na sessão.');
    }
  });
</script>
{% endblock %}
