{% extends "base.html" %} {% block title %} Transações iniciadas (itens alugados) {% endblock %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_rented.css') }}" />
{% endblock %} {% block body_class %}rented{% endblock %} {% block content %}
<div class="container mt-3">
  <h2 class="mb-4">Transações encerradas (itens alugados)</h2>

  {% include "filter_section.html" with context %}

  <!-- Tabela -->
  <div class="table-container mt-4">
    <table class="table table-hover responsive-table align-middle rounded-table">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Cliente</th>
          <th>Retirada prevista</th>
          <th>Devolução Prevista</th>
          <th>Retirado?</th>
          <th>Pago?</th>
          <th>Observações</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for item in itens %}
        <tr>
          <td data-label="Imagem">
            {% if item.image_url and item.image_url != "N/A" %}
            <img src="{{ item.image_url }}" alt="Imagem do item" class="img-fluid item-thumbnail" style="max-width: 100px; cursor: pointer" />
            {% else %}
            <img
              src="{{ url_for('static', filename='item-placeholder.png') }}"
              alt="Sem Imagem"
              class="img-fluid item-thumbnail"
              style="max-width: 100px; cursor: pointer"
            />
            {% endif %}
          </td>
          <!-- prettier-ignore -->
          <td class="open-modal" data-item='{{ item | tojson | safe }}' data-label="Cliente">
            {{ item.client_name | default('', true) | truncate(10, True) }}
          </td>
          <!-- prettier-ignore -->
          <td class="open-modal" data-item='{{ item | tojson | safe }}' data-label="Retirada Prevista">{{ item.rental_date_formatted }}</td>
          <!-- prettier-ignore -->
          <td class="open-modal" data-item='{{ item | tojson | safe }}' data-label="Devolução Prevista">{{ item.return_date_formatted }}</td>
          <!-- prettier-ignore -->
          <td class="open-modal" data-item='{{ item | tojson | safe }}' data-label="Retirado">{% if item.retirado %}Sim{% else %}Não{% endif %}</td>
          <!-- prettier-ignore -->
          <td class="open-modal" data-item='{{ item | tojson | safe }}' data-label="Pagamento">{{ item.pagamento }}</td>
          <!-- prettier-ignore -->
          <td class="open-modal" data-item='{{ item | tojson | safe }}' data-label="Observações">
            {{ item.comments | default('', true) | truncate(10, True) }}
          </td>

          <td data-label="Ações">
            <div class="d-flex flex-wrap gap-2 justify-content-center align-items-center">
              <form
                method="POST"
                action="{{ url_for('delete_transaction', transaction_id=item.transaction_id, next=request.url) }}"
                style="display: inline"
              >
                <button
                  type="submit"
                  class="action-button danger"
                  onclick="return confirm('Tem certeza de que deseja deletar essa transação?');"
                  title="Deletar"
                >
                  Deletar
                </button>
              </form>

              <a
                href="{{ url_for('edit_transaction', transaction_id=item.transaction_id, next=request.url) }}"
                class="action-button warning"
                title="Editar"
              >
                Editar
              </a>

              <a
                href="{{ url_for('mark_returned', transaction_id=item.transaction_id, next=request.url) }}"
                class="action-button success"
                title="Devolvido"
                onclick="return confirm('Tem certeza de que deseja marcar este item como devolvido?');"
              >
                Devolvido
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Paginação -->
  {% set route_name = 'rented' %} {% include 'components/pagination.html' with context %}

  <!-- Modals -->
  {% include 'components/info_modal.html' %} {% include 'components/image_modal.html' %}
</div>
{% endblock %}
