{% extends "base.html" %} {% block title %} Itens retirados {% endblock %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_rented.css') }}" />
{% endblock %} {% block content %}
<div class="container mt-3">
  <h2 class="mb-4">{{ title }}</h2>

  {% if itens %} {% include "components/filter_section.html" with context %}

  <!-- Tabela -->
  <div class="table-container mt-4">
    <table class="table table-hover responsive-table align-middle rounded-table">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Cliente</th>
          <th>Devolução Prevista</th>
          <th>Preço (R$)</th>
          <th>Pago (R$)</th>
          <th>Observações</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in itens %}
        <tr>
          <td data-label="Imagem">
            {% if item.image_url and item.image_url != "N/A" %}
            <img src="{{ item.image_url }}" alt="Imagem do item" class="img-fluid item-thumbnail" style="max-width: 100px; cursor: pointer" />
            {% else %}
            <img
              src="{{ url_for('static', filename='item-placeholder.png') }}"
              alt="Sem Imagem"
              class="img-fluid item-thumbnail"
              style="max-width: 100px; cursor: pointer"
            />
            {% endif %}
          </td>
          <!-- prettier-ignore -->
          <td class="open-modal" data-item='{{ item | tojson | safe }}' data-label="Cliente">
            {{ item.client_name | default('', true) | truncate(10, True) }}
          </td>

          <!-- prettier-ignore -->

          <td class="open-modal position-relative" data-item='{{ item | tojson | safe }}' data-label="Devolução Prevista">
            {{ item.return_date_formatted }}

            {% if item.overdue %}
              <div class="atrasado-tag mt-1">Devolução atrasada</div>
            {% endif %}
          </td>
          <!-- prettier-ignore -->

          <td class="open-modal position-relative" data-item='{{ item | tojson | safe }}' data-label="Preço (R$)">
            {{ item.valor | round(2) | string | replace('.', ',') }} </td>

          <td class="open-modal" data-item="{{ item | tojson | safe }}" data-label="Pagamento">
            {{ item.pagamento | round(2) | string | replace('.', ',') }} {% if item.pagamento is not none and item.valor is not none %} {% if
            item.pagamento == item.valor %} (Pagamento Total) {% elif item.pagamento > 0 and item.pagamento < item.valor %} (Pagamento Parcial) {%
            else %} (Não Pago) {% endif %} {% else %} (Não Pago) {% endif %}
          </td>

          <!-- prettier-ignore -->
          <td class="open-modal" data-item='{{ item | tojson | safe }}' data-label="Observações">
            {{ item.comments | default('', true) | truncate(10, True) }}
          </td>
          <!--botoes de açao -->

          <td data-label="Ações">
            <div class="d-flex flex-wrap gap-2 justify-content-center align-items-center">
              {% set show_delete_transaction = True %} {% set show_edit_client = True %} {% set show_edit_item = True %} {% set show_edit_transaction
              = True %} {% set show_ver_reservas = True %} {% set show_mark_returned = True %} {% include 'components/action_buttons.html' with
              context %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% else %}

  <p class="text-info" style="font-weight: bold; font-size: 1.2rem">Nada por aqui ainda!</p>

  {% endif %}

  <!-- Paginação -->
  {% set route_name = 'rented' %} {% include 'components/pagination.html' with context %}

  <!-- Modals -->
  {% include 'components/info_modal_transaction.html' %} {% include 'components/image_modal.html' %}
</div>
{% endblock %} {% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.action-button.danger').forEach((btn) => {
      btn.addEventListener('click', function (e) {
        e.stopPropagation(); // impede de subir para a tr/td com "open-modal"
        // NÃO use preventDefault aqui, porque é um botão de submit
      });
    });
  });
</script>
{% endblock %}
