<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alugar Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_rent.css') }}" />
  </head>
  <body>


    <div class="form-container">
      <h1>Alugar item</h1>
      <a href="{{ url_for('inventario') }}" class="cancel-link">Sair sem Finalizar</a>
      <form method="POST" enctype="multipart/form-data">

        <label for="client_name">Nome do Cliente:</label>
        <input type="text" id="client_name" name="client_name" required />

        <label for="client_tel">Telefone do Cliente:</label>
        <input type="text" id="client_tel" name="client_tel" required />

        <label for="rental_date">Data de Retirada:</label>
        <input type="date" id="rental_date" name="rental_date" required />

        <div class="form-group">
          <label for="retirado">
            <input type="checkbox" id="retirado" name="retirado" />
            Retirado
          </label>
        </div>

        <label for="return_date">Data de Devolução:</label>
        <input type="date" id="return_date" name="return_date" required />

        <label for="valor">Valor (R$):</label>
        <input type="number" id="valor" name="valor" step="0.01" min="0" value="{{ item.valor }}" required/>

        <label for="pagamento">Pagamento:</label>
<select id="pagamento" name="pagamento">
    <option value="Não pago" {% if item.pagamento == "Não pago" or not item.pagamento %}selected{% endif %}>Não pago</option>
    <option value="Pago 50%" {% if item.pagamento == "Pago 50%" %}selected{% endif %}>Pago 50%</option>
    <option value="Pago 100%" {% if item.pagamento == "Pago 100%" %}selected{% endif %}>Pago 100%</option>
</select>

        <label for="comments">Comentários:</label>
        <textarea id="comments" name="comments" rows="3">{{ item.comments }}</textarea>

        <button type="submit">Salvar</button>
      </form>
    </div>
  </body>
</html>
