{% extends "base.html" %}
{% block title %}Todas as transações{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_all_transactions.css') }}" />
{% endblock %}
{% block content %}


<div class="container my-3">
  <h2 class="mb-4">{{ title }}</h2>

  {% set show_add_button = True %}
  {% set add_route = url_for('rent') %}
  {% include "components/filter_section.html" with context %}
  {% if not itens %}
    <div class="alert alert-info mt-3">
      Não há itens que satisfazem os critérios selecionados.
    </div>
  {% endif %}

  {% if itens %}
  <div class="table-container mt-4">
    <table class="table table-hover responsive-table align-middle rounded-table">
      <thead>
        <tr>
          <th class="status-col">Status</th>
          <th>Imagem</th>
          {% for field in fields_config if field.preview and field.visible %}
            <th>{{ field.label }}</th>
          {% endfor %}
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% set status_map = {
          'reserved': 'Reservado',
          'rented': 'Retirado',
          'returned': 'Retornado',
          'overdue': 'Atrasado'
        } %}
        {% for item in itens %}
        <tr>
          <!-- Faixa vertical do status -->
          <td data-label="Status" class="status-cell {{ item.transaction_status }}">
            <div class="status-text">{{ status_map[item.transaction_status] }}</div>
          </td>

          <!-- Imagem do item -->
          <td data-label="Imagem">
            {% if item.image_url and item.image_url != "N/A" %}
              <img
                src="{{ item.image_url }}"
                alt="Imagem do item"
                class="img-fluid item-thumbnail"
                style="max-width: 100px; cursor: pointer"
                onclick="mostrarImagemModal('{{ item.image_url }}')"
              />
            {% else %}
              <img
                src="{{ url_for('static', filename='item-placeholder.png') }}"
                alt="Sem Imagem"
                class="img-fluid item-thumbnail"
                style="max-width: 100px; cursor: pointer"
                onclick="mostrarImagemModal('{{ url_for('static', filename='item-placeholder.png') }}')"
              />
            {% endif %}
          </td>
          <!-- Dados dinâmicos -->
{% set status_mapping = {
  'reserved': 'Reservado',
  'rented': 'Retirado',
  'returned': 'Devolvido'
} %}

{% for field in fields_config if field.preview and field.visible %}
<td data-label="{{ field.label }}">
  {% set value = item.key_values[field.id] if item.key_values is defined and field.id in item.key_values else item[field.id] if field.id in item else '' %}

  {% if value == 'None' or value is none %}
    <span class="text-muted">-</span>
  {% else %}
    {% if field.type == "phone" %}
      {{ value | format_phone }}
    {% elif field.type == "date" %}
      {{ value | format_date }}
    {% elif field.type in ["value", "item_value", "transaction_price"] %}
      {{ value | format_currency }}
        {% elif field.type in ["transaction_value_paid"] %}
{{ value | format_currency }}
<p class="mt-1 small">
  {% if item.transaction_value_paid and item.transaction_price %}
    {% set pagamento_float = item.transaction_value_paid | float %}
    {% set valor_float = item.transaction_price | float %}

    {% if pagamento_float == valor_float %}
      <span class="badge bg-success text-dark">Pagamento Total</span>
    {% elif pagamento_float > 0 and pagamento_float < valor_float %}
      <span class="badge bg-warning text-dark">Pagamento Parcial</span>
    {% else %}
      <span class="badge bg-danger text-dark">Não Pago</span>
    {% endif %}
  {% else %}
    <span class="badge bg-danger text-dark">Não Pago</span>
  {% endif %}
</p>



    {% elif field.type == "cpf" %}
      {{ value | format_cpf }}
    {% elif field.type == "cnpj" %}
      {{ value | format_cnpj }}
    {% elif field.id == "transaction_status" %}
      {{ status_mapping.get(value, value) }}
    {% else %}
      {{ value | truncate(30, True) }}
    {% endif %}
  {% endif %}
</td>
{% endfor %}













          <!-- Ações -->
          <td data-label="Ações">
            <div class="d-flex align-items-center gap-2">
              <div class="position-relative d-flex gap-2 justify-content-center align-items-center">
                <button
                  class="btn btn-outline-secondary btn-sm dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton{{ loop.index }}"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  title="Mais ações"
                >
                  <i class="fas fa-ellipsis-v"></i>
                </button>

                {% set show_delete_transaction = True %}
                {% set show_edit_transaction = True %}
                {% set show_ver_reservas = True %}
                {% set show_mark_rented = item.transaction_status == 'reserved' %}
                {% set show_mark_returned = item.transaction_status == 'rented' %}
                {% set show_print = True %}
                {% set show_item = True %}
                {% set show_client = True %}
                {% set show_item_transactions = True %}
                {% set show_client_transactions = True %}
                {% include 'components/action_buttons.html' with context %}

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton{{ loop.index }}"></ul>

                <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalItem{{ loop.index }}" title="Ver detalhes">
                  <i class="fas fa-eye"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>

        {% include 'components/info_modal_transaction.html' with context %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  {% if itens %}
  <ul class="pagination justify-content-center"></ul>
  {% endif %}
</div>

{% include 'components/image_modal.html' %}
{% endblock %}



{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.action-button.danger').forEach((btn) => {
      btn.addEventListener('click', function (e) {
        e.stopPropagation(); // impede de subir para a tr/td com "open-modal"
        // NÃO use preventDefault aqui, porque é um botão de submit
      });
    });
  });
</script>

<!-- lib para um alert box com opçoes -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
function confirmarAcao(urlBase) {
  Swal.fire({
    text: 'Cliente está pagando integralmente o item?',
    showCancelButton: true,
    showDenyButton: true,
    confirmButtonText: 'Pago 100%',
    denyButtonText: 'Apenas retirando',
    cancelButtonText: 'Cancelar',
    customClass: {
      confirmButton: 'btn btn-success',
      denyButton: 'btn btn-warning',
      cancelButton: 'btn btn-secondary'
    },
    buttonsStyling: false  // necessário para aplicar classes Bootstrap
  }).then((result) => {
    if (result.isConfirmed) {
      const urlFinal = urlBase.includes('?') ? urlBase + '&pago_total=1' : urlBase + '?pago_total=1';
      window.location.href = urlFinal;
    } else if (result.isDenied) {
      window.location.href = urlBase;
    }
  });
}

</script>

<script>
  function printConteudo() {
    const conteudoHtml = document.getElementById('print-area').innerHTML;

    const win = window.open('', '_blank', 'width=800,height=600');

    if (!win) {
      alert('Não foi possível abrir a janela de impressão. Verifique se o bloqueador de pop-up está ativado.');
      return;
    }

    win.document.open();
    win.document.write(`
      <html>
        <head>
          <title>Imprimir</title>
          <style>
            body {
              font-family: Arial, sans-serif;
              padding: 20px;
            }
            @media print {
              .no-print {
                display: none !important;
              }
            }
          </style>
        </head>
        <body>
          ${conteudoHtml}
        </body>
      </html>
    `);

    win.document.close();

    // Esperar carregamento do conteúdo
    win.onload = function () {
      setTimeout(() => {
        win.print();
        win.close();
      }, 300);
    };
  }
</script>


<script>
  const urlParams = new URLSearchParams(window.location.search);
  let currentPage = parseInt(urlParams.get('page') || '1');

  const paginacao = document.querySelector('.pagination');

  // Botão ← Anterior
  if (currentPage > 1) {
    const liPrev = document.createElement('li');
    liPrev.className = 'page-item';
    const aPrev = document.createElement('a');
    aPrev.className = 'page-link';
    aPrev.innerText = '← Anterior';
    aPrev.href = `?page=${currentPage - 1}`;
    liPrev.appendChild(aPrev);
    paginacao.appendChild(liPrev);
  }

  // Página Atual
  const liCurrent = document.createElement('li');
  liCurrent.className = 'page-item active';
  const aCurrent = document.createElement('a');
  aCurrent.className = 'page-link';
  aCurrent.innerText = `Página ${currentPage}`;
  aCurrent.href = "#";
  liCurrent.appendChild(aCurrent);
  paginacao.appendChild(liCurrent);

  // Botão Próxima →
  {% if has_next %}
    const liNext = document.createElement('li');
    liNext.className = 'page-item';
    const aNext = document.createElement('a');
    aNext.className = 'page-link';
    aNext.innerText = 'Próxima →';
    aNext.href = `?page=${currentPage + 1}`;
    liNext.appendChild(aNext);
    paginacao.appendChild(liNext);
  {% endif %}
</script>

<script>
  async function refreshPlanType() {
    try {
      const response = await fetch('/refresh_plan_type', {
        method: 'POST'
      });

      const data = await response.json();

      if (data.success) {
        console.log("Plano atualizado para:", data.plan_type);
        // Se quiser recarregar a página automaticamente:
        // window.location.reload();
      } else {
        console.error("Falha ao atualizar plano:", data.message);
      }
    } catch (error) {
      console.error("Erro na comunicação com servidor:", error);
    }
  }

  // 🔥 Chama automaticamente ao carregar a página
  document.addEventListener('DOMContentLoaded', refreshPlanType);
  </script>


</div>

{% endblock %}
