<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Replicar Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_replicate.css') }}" />
  </head>
  <body>
    <div class="form-container">
      <h1>Replicar Vestido</h1>
      <!-- Link "Sair sem Finalizar" -->
      <a href="{{ next }}" class="cancel-link">Sair sem Finalizar</a>

      <form method="POST" enctype="multipart/form-data">
        <!-- Campo oculto para preservar a página de origem -->
        <input type="hidden" name="next" value="{{ next }}" />

        <!-- Checkboxes para status -->
        <div class="form-group">
          <label for="status-rented">
            <input
              type="checkbox"
              id="status-rented"
              name="status"
              value="rented"
              onclick="toggleCheckbox('status-rented', 'status-returned')"
              {% if item and item.status == 'rented' %}checked{% endif %}
            />
            Alugado
          </label>
          <label for="status-returned">
            <input
              type="checkbox"
              id="status-returned"
              name="status"
              value="returned"
              onclick="toggleCheckbox('status-returned', 'status-rented')"
              {% if item and item.status == 'returned' %}checked{% endif %}
            />
            Arquivado
          </label>
        </div>

        <label>Descrição:</label>
        <br />
        <input type="text" name="description" value="{{ item.description if item }}" required />
        <br />
        <br />

        <label>Nome do Cliente:</label>
        <br />
        <input type="text" name="client_name" value="{{ item.client_name if item }}" required />
        <br />
        <br />

        <label>Telefone do Cliente:</label>
        <br />
        <input type="text" name="client_tel" value="{{ item.client_tel if item }}" required />
        <br />
        <br />

        <label>Data de Retirada:</label>
        <br />
        <input type="date" name="rental_date" value="{{ item.rental_date if item }}" required />
        <br />
        <br />

        <div class="form-group">
          <label for="retirado">
            <input
              type="checkbox"
              id="retirado"
              name="retirado"
              value="True"
              {% if item and item.retirado %}checked{% endif %}
            />
            Retirado
          </label>
        </div>

        <label>Data de Devolução:</label>
        <br />
        <input type="date" name="return_date" value="{{ item.return_date if item }}" required />
        <br />
        <br />

        <label for="valor">Valor (R$):</label>
        <input
          type="number"
          id="valor"
          name="valor"
          step="0.01"
          min="0"
          value="{{ item.valor if item }}"
          required
        />
        <br />
        <br />

        <label for="pagamento">Pagamento:</label>
        <select id="pagamento" name="pagamento">
          <option value="Não pago" {% if item and item.pagamento == 'Não pago' %}selected{% endif %}>Não pago</option>
          <option value="Pago 50%" {% if item and item.pagamento == 'Pago 50%' %}selected{% endif %}>Pago 50%</option>
          <option value="Pago 100%" {% if item and item.pagamento == 'Pago 100%' %}selected{% endif %}>Pago 100%</option>
        </select>
        <br />
        <br />

        <label>Comentários:</label>
        <br />
        <textarea name="comments" rows="3" cols="30">{{ item.comments if item }}</textarea>
        <br />
        <br />

        <div class="form-group">
          <label>Foto Atual:</label>
          {% if item.image_url and item.image_url != "" %}
          <!-- Mostra a foto atual -->
          <img src="{{ item.image_url }}" alt="Imagem do vestido" class="img-fluid dress-thumbnail" />
          {% else %}
          <!-- Mostra um placeholder caso não haja imagem -->
          <img src="{{ url_for('static', filename='dress-placeholder.png') }}" alt="Sem Imagem" class="img-fluid dress-thumbnail" />
          {% endif %}


        </div>


        <button type="submit">Replicar</button>
      </form>
    </div>

    <script>
      // Função para tornar os checkboxes mutuamente exclusivos
      function toggleCheckbox(activeId, inactiveId) {
        const activeCheckbox = document.getElementById(activeId);
        const inactiveCheckbox = document.getElementById(inactiveId);

        if (activeCheckbox.checked) {
          inactiveCheckbox.checked = false;
        }
      }
    </script>
  </body>
</html>
