
<div id="tab-cliente" class="tab-content active">
  <form>

    {{all_fields}}
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for field in all_fields if field.id.startswith("item_") and field.visible %}
      <div class="col d-flex">
        <div class="bg-light shadow-sm rounded p-3 border w-100 h-100 d-flex flex-column justify-content-center">
          <label for="{{ field.id }}" class="form-label fw-semibold">
            {{ field.label if field.fixed else field.title }}{% if field.required %} *{% endif %}
          </label>

          {% if field.type == "text" %}
            <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
              value="{{ item.get(field.id, '') }}" {% if field.required %}required{% endif %} />

              {% elif field.type == 'value' %}
              <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
                value="{{ item.get(field.id, '') }}" {% if field.required %}required{% endif %} />


          {% elif field.type == 'number' %}
            <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
              value="{{ item.get(field.id, '') }}" {% if field.required %}required{% endif %} />

          {% elif field.type == 'date' %}
            <input type="date" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
              value="{{ item.get(field.id, '') }}" {% if field.required %}required{% endif %} />

          {% elif field.type == 'dropdown' %}
            <select class="form-select" id="{{ field.id }}" name="{{ field.id }}" {% if field.required %}required{% endif %}>
              <option value="">Selecione</option>
              {% for option in field.options %}
                <option value="{{ option }}" {% if item.get(field.id) == option %}selected{% endif %}>{{ option }}</option>
              {% endfor %}
            </select>

          {% elif field.type == 'item_image_url' %}
            <div class="text-center mb-2">
              <img id="item-image"
                   src="{{ item.item_image_url if item.item_image_url and item.item_image_url != 'N/A' else url_for('static', filename='item-placeholder.png') }}"
                   style="max-width: 150px;" />
              <input type="text" name="item_image_url" id="image-url-input"
                     value="{{ item.item_image_url if item.item_image_url != 'N/A' else '' }}"
                     style="opacity: 0; position: absolute; left: -9999px" />
              <button type="button" onclick="removeImage()" id="remove-btn"
                      class="btn btn-outline-danger btn-sm mt-2"
                      style="{{ 'display: block;' if item.item_image_url and item.item_image_url != 'N/A' else 'display: none;' }}">
                Excluir imagem
              </button>
            </div>
            <input type="file" class="form-control" id="image_file" name="image_file"
              {% if field.required %}data-required="true"{% endif %} />


              {% elif field.type == "item_custom_id" %}
              <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
                value="{{ item.get(field.id, '') }}" {% if field.required %}required{% endif %} />

                {% elif field.type == "item_description" %}
              <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
                value="{{ item.get(field.id, '') }}" {% if field.required %}required{% endif %} />

                {% elif field.type == "item_obs" %}
                <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
                  value="{{ item.get(field.id, '') }}" {% if field.required %}required{% endif %} />

                  {% elif field.type == "item_value" %}
                  <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
                    value="{{ item.get(field.id, '') }}" {% if field.required %}required{% endif %} />



          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
