
<div id="tab-cliente" class="tab-content active">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for field in all_fields if field.id.startswith("transaction_") and field.visible and field.type != "transaction_price" %}
      <div class="col d-flex">
        <div class="bg-light shadow-sm rounded p-3 border w-100 h-100 d-flex flex-column justify-content-center">
          <label for="{{ field.id }}" class="form-label fw-semibold">
            {{ field.label if field.fixed else field.title }}{% if field.required %} *{% endif %}
          </label>

{% if transaction is defined %}
  {% set value = request.form.get(field.id, transaction.get(field.id, transaction.get("key_values", {}).get(field.id, ''))) %}
{% else %}
  {% set value = request.form.get(field.id, '') %}
{% endif %}



          <input type="hidden" id="client_id" name="client_id" />


          {% if field.type == "text" %}
            <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
              value="{{ value }}" {% if field.required %}required{% endif %} />

              {% elif field.type == "transaction_obs" %}
              <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
                value="{{ value }}" {% if field.required %}required{% endif %} />




          {% elif field.type == 'number' %}
            <input type="number" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
              value="{{ value }}" {% if field.required %}required{% endif %} />

              {% elif field.type == 'value' %}
              <input type="number" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
                value="{{ value }}" {% if field.required %}required{% endif %} />

                {% elif field.type == 'transaction_value_paid' %}
                <input type="text" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
                  value="{{ value }}" {% if field.required %}required{% endif %} />

                  {% elif field.type == 'transaction_period' %}
                  <input
                    type="text"
                    class="form-control"
                    id="{{ field.id }}"
                    name="{{ field.id }}"
                    value="{{ value }}"
                    placeholder="Selecione período"
                    style="cursor: pointer;"
                    {% if field.required %}required{% endif %}
                  />


              {% elif field.type == 'transaction_status' %}
              <select class="form-select" id="{{ field.id }}" name="{{ field.id }}" {% if field.required %}required{% endif %}>
                <option value="">Selecione</option>
                {% for option in field.options %}
                  <option value="{{ option }}" {% if value == option %}selected{% endif %}>{{ option }}</option>
                {% endfor %}
              </select>

              {% elif field.type == 'date' %}
            <input type="date" class="form-control" id="{{ field.id }}" name="{{ field.id }}"
              value="{{ value }}" {% if field.required %}required{% endif %} />



          {% elif field.type == 'dropdown' %}
            <select class="form-select" id="{{ field.id }}" name="{{ field.id }}" {% if field.required %}required{% endif %}>
              <option value="">Selecione</option>
              {% for option in field.options %}
                <option value="{{ option }}" {% if value == option %}selected{% endif %}>{{ option }}</option>
              {% endfor %}
            </select>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
</div>
